# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
- R
- SQL
- Java
- Julia
- Scala
- C/C++

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy

| Data Scientist Tools |
| --- |
| BigMl |
| SAS |
Ã„pache Spark |

Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
7 + 3

10

In [4]:
#This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.

In [7]:
200 / 60

3.3333333333333335

## Author

Viktor